.App {
  text-align: center;
  color: #333;
}

.App-header {
  font-size: 2em;
}

.App-header a {
  margin-top: 10px;
  font-size: .5em;
}

.App-footer {
  margin: 20px;
}

.Nav-buttons {
  margin-bottom: 40px;
}

.Nav-buttons Button {
  margin: 10px 10px;
  padding: 10px 30px;
}

.Level-description {
  padding: 10px 10%;
}

.Custom-table {
  padding: 40px 10%;
}
